<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="CC07B268-6E99-49F0-989E-1B127D8A63EB" Name="Emanate" Language="1033" Version="1.0.0.0" Manufacturer="Jared Roughan" UpgradeCode="0d5a59f7-f67e-40ea-9d55-9bc6f1fa7250">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <Condition Message='This application requires .NET Framework 4.0'>
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />
    
    <UIRef Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText" />
    
    <WixVariable Id="WixUIDialogBmp" Value="Installer Dialog.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="Installer Banner.bmp" />
    <!-- Why on earth do custom licenses show up white on white? -->
    <!--<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />-->

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Emanate" >
          <Component Id="AdminExecutable" Guid="AB2AE3CC-989B-4642-B518-008BD94F4EBF">
            <File Id='EmanateAdmin.exe' Name='EmanateAdmin.exe' Source='..\Emanate.Service\bin\$(var.Configuration)\EmanateAdmin.exe' KeyPath='yes'>
              <Shortcut Id="startmenuShortcut" Directory="ProgramMenuDir" Name="Emanate Admin" WorkingDirectory='INSTALLDIR' Icon="AdminIcon.exe" IconIndex="0" Advertise="yes" />
            </File>
          </Component>
          <Component Id="ServiceExecutable" Guid="9F7AE5D7-8627-49DD-AE63-92767DF0B979">
            <File Id="Emanate.exe" Name="Emanate.exe" Source="..\Emanate.Service\bin\$(var.Configuration)\Emanate.exe" Vital="yes" KeyPath="yes" />
            <ServiceInstall
                        Id="ServiceInstaller"
                        Type="ownProcess"
                        Vital="yes"
                        Name="EmanateService"
                        DisplayName="Emanate Monitoring Service"
                        Description="Monitors software builds and displays status on external devices"
                        Start="auto"
                        Account="LocalSystem"
                        ErrorControl="ignore"
                        Interactive="no">
            </ServiceInstall>
            <ServiceControl Id="EmanateServiceStart" Stop="both" Remove="uninstall" Name="EmanateService" Wait="yes" />
          </Component>
          <Component Id='CoreLibrary' Guid='A58B73AF-EE3D-4CED-9E04-95C519A17DE9'>
            <File Id='Emanate.Core.dll' Name='Emanate.Core.dll' Source='..\Emanate.Service\bin\$(var.Configuration)\Emanate.Core.dll' KeyPath='yes' />
          </Component>
          <Component Id='Autofac' Guid='98F63A33-515B-470E-ABB0-FDD2AE0C715B'>
            <File Id='Autofac.dll' Name='Autofac.dll' Source='..\Emanate.Service\bin\$(var.Configuration)\Autofac.dll' KeyPath='no' />
          </Component>
          <Component Id='AutofacConfiguration' Guid='1165E71D-0B2A-4EC9-976C-471D1B47F0B7'>
            <File Id='Autofac.Configuration.dll' Name='Autofac.Configuration.dll' Source='..\Emanate.Service\bin\$(var.Configuration)\Autofac.Configuration.dll' KeyPath='no' />
          </Component>
          <Component Id='DelcomModule' Guid='90C3CDAD-CF4D-4E18-B304-0D182006DBC3'>
            <File Id='Emanate.Delcom.dll' Name='Emanate.Delcom.dll' Source='..\Emanate.Service\bin\$(var.Configuration)\Emanate.Delcom.dll' KeyPath='yes' />
          </Component>
          <Component Id='TeamCityModule' Guid='229A3BC9-95F2-4846-852B-6E566B04D165'>
            <File Id='Emanate.TeamCity.dll' Name='Emanate.TeamCity.dll' Source='..\Emanate.Service\bin\$(var.Configuration)\Emanate.TeamCity.dll' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Emanate">
          <Component Id="ProgramMenuDir" Guid="367BBC42-7BCE-429B-9D8C-F4357C011F4D">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="CommonAppDataFolder" Name="CommonAppDataFolder">
        <Directory Id="EmanateAppDataFolder" Name="Emanate">
          <Component Id="EmanateAppDataFolder" Guid="B7D7FAF5-DC95-4D63-BA88-15EAC601A8D0">
            <RemoveFolder Id='EmanateAppDataFolder' On='uninstall' />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Icon Id="AdminIcon.exe" SourceFile="..\Emanate.Service\bin\$(var.Configuration)\EmanateAdmin.exe" />

    <Feature Id='Complete' Level='1'>
      <ComponentRef Id='ServiceExecutable' />
      <ComponentRef Id='AdminExecutable' />
      <ComponentRef Id='CoreLibrary' />
      <ComponentRef Id='Autofac' />
      <ComponentRef Id='AutofacConfiguration' />
      <ComponentRef Id='DelcomModule' />
      <ComponentRef Id='TeamCityModule' />
      <ComponentRef Id='EmanateAppDataFolder' />
      <ComponentRef Id='ProgramMenuDir' />
    </Feature>
    <!--<Feature Id="ProductFeature" Title="Emanate" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>-->
  </Product>
</Wix>