<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           Name="Emanate" 
           Language="1033" 
           Version="!(bind.fileVersion.Emanate.exe)"
           Manufacturer="Jared Roughan"
           UpgradeCode="B5EC12B8-687A-4401-A605-5907E3ABAF2D">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message='This application requires .NET Framework 4.5'>
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Icon Id="icon.ico" SourceFile="..\..\Resources\Emanate.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    
    <UIRef Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText" />
    
    <WixVariable Id="WixUIDialogBmp" Value="Installer Dialog.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="Installer Banner.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Emanate" >
          <Component Id="AdminExecutable" Guid="AB2AE3CC-989B-4642-B518-008BD94F4EBF">
            <File Id='EmanateAdmin.exe' Name='EmanateAdmin.exe' Source='..\Emanate.Service.Admin\bin\$(var.Configuration)\EmanateAdmin.exe' KeyPath='yes'>
              <Shortcut Id="startmenuShortcut" Directory="ProgramMenuDir" Name="Emanate Admin" WorkingDirectory='INSTALLDIR' Icon="AdminIcon.exe" IconIndex="0" Advertise="yes" />
            </File>
          </Component>
          <Component Id="ServiceExecutable" Guid="9F7AE5D7-8627-49DD-AE63-92767DF0B979">
            <File Id="Emanate.exe" Name="Emanate.exe" Source="..\Emanate.Service\bin\$(var.Configuration)\Emanate.exe" Vital="yes" KeyPath="yes" />
            <ServiceInstall
                        Id="ServiceInstaller"
                        Type="ownProcess"
                        Vital="yes"
                        Name="EmanateService"
                        DisplayName="Emanate Monitoring Service"
                        Description="Monitors software builds and displays status on external devices"
                        Start="auto"
                        Account="LocalSystem"
                        ErrorControl="ignore"
                        Interactive="no">
              <ServiceConfig DelayedAutoStart="yes" OnInstall="yes" OnReinstall="yes" />
            </ServiceInstall>
            <ServiceControl Id="EmanateServiceStart" Stop="both" Remove="uninstall" Name="EmanateService" Wait="yes" />
          </Component>
          <Component Id='CoreLibrary' Guid='A58B73AF-EE3D-4CED-9E04-95C519A17DE9'>
            <File Id='Emanate.Core.dll' Name='Emanate.Core.dll' Source='..\Emanate.Service\bin\$(var.Configuration)\Emanate.Core.dll' KeyPath='yes' />
          </Component>
          <Component Id='Autofac' Guid='98F63A33-515B-470E-ABB0-FDD2AE0C715B'>
            <File Id='Autofac.dll' Name='Autofac.dll' Source='..\Emanate.Service\bin\$(var.Configuration)\Autofac.dll' KeyPath='no' />
          </Component>
          <!-- Service assemblies -->
          <Component Id='DelcomModule' Guid='90C3CDAD-CF4D-4E18-B304-0D182006DBC3'>
            <File Id='Emanate.Delcom.dll' Name='Emanate.Delcom.dll' Source='..\Emanate.Service\bin\$(var.Configuration)\Emanate.Delcom.dll' KeyPath='yes' />
          </Component>
          <Component Id='TeamCityModule' Guid='229A3BC9-95F2-4846-852B-6E566B04D165'>
            <File Id='Emanate.TeamCity.dll' Name='Emanate.TeamCity.dll' Source='..\Emanate.Service\bin\$(var.Configuration)\Emanate.TeamCity.dll' KeyPath='yes' />
          </Component>
          <Component Id='VsoModule' Guid='0CF71F34-D1C7-4C8F-A563-5803539E8C6D'>
            <File Id='Emanate.Vso.dll' Name='Emanate.Vso.dll' Source='..\Emanate.Service\bin\$(var.Configuration)\Emanate.Vso.dll' KeyPath='yes' />
          </Component>
          <!-- Admin assemblies -->
          <Component Id='ExtensibilityLibrary' Guid='70F3045E-919C-4AFE-A410-EDBF7F35080D'>
            <File Id='Emanate.Extensibility.dll' Name='Emanate.Extensibility.dll' Source='..\Emanate.Service.Admin\bin\$(var.Configuration)\Emanate.Extensibility.dll' KeyPath='yes' />
          </Component>
          <Component Id='DelcomAdminModule' Guid='639F47F1-BD48-43D2-9082-FFC478F64748'>
            <File Id='Emanate.Delcom.Admin.dll' Name='Emanate.Delcom.Admin.dll' Source='..\Emanate.Service.Admin\bin\$(var.Configuration)\Emanate.Delcom.Admin.dll' KeyPath='yes' />
          </Component>
          <Component Id='TeamCityAdminModule' Guid='15973FE0-8A7F-47BE-BD9B-9F5308A23736'>
            <File Id='Emanate.TeamCity.Admin.dll' Name='Emanate.TeamCity.Admin.dll' Source='..\Emanate.Service.Admin\bin\$(var.Configuration)\Emanate.TeamCity.Admin.dll' KeyPath='yes' />
          </Component>
          <Component Id='VsoAdminModule' Guid='71D46311-0AE6-400F-9534-B0162B1CC37C'>
            <File Id='Emanate.Vso.Admin.dll' Name='Emanate.Vso.Admin.dll' Source='..\Emanate.Service.Admin\bin\$(var.Configuration)\Emanate.Vso.Admin.dll' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Emanate">
          <Component Id="ProgramMenuDir" Guid="367BBC42-7BCE-429B-9D8C-F4357C011F4D">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="CommonAppDataFolder" Name="CommonAppDataFolder">
        <Directory Id="EmanateAppDataFolder" Name="Emanate">
          <Component Id="EmanateAppDataFolder" Guid="B7D7FAF5-DC95-4D63-BA88-15EAC601A8D0">
            <RemoveFolder Id='EmanateAppDataFolder' On='uninstall' />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Icon Id="AdminIcon.exe" SourceFile="..\Emanate.Service.Admin\bin\$(var.Configuration)\EmanateAdmin.exe" />

    <Feature Id='Complete' Level='1'>
      <ComponentRef Id='ServiceExecutable' />
      <ComponentRef Id='AdminExecutable' />
      <ComponentRef Id='CoreLibrary' />
      <ComponentRef Id='ExtensibilityLibrary' />
      <ComponentRef Id='Autofac' />
      <ComponentRef Id='DelcomModule' />
      <ComponentRef Id='DelcomAdminModule' />
      <ComponentRef Id='TeamCityModule' />
      <ComponentRef Id='TeamCityAdminModule' />
      <ComponentRef Id='VsoModule' />
      <ComponentRef Id='VsoAdminModule' />
      <ComponentRef Id='EmanateAppDataFolder' />
      <ComponentRef Id='ProgramMenuDir' />
    </Feature>

  </Product>
</Wix>