<?xml version="1.0"?>
<SecurityInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <TeamCityUri>server-name:port</TeamCityUri>
  <TeamCityUser>Joe</TeamCityUser>
  <TeamCityPassword>Password</TeamCityPassword>
</SecurityInfo>