body {
  font-family: sans-serif;
}

.outputGroup {

  margin: 1em;

  background-color: #DDF5B2;
  border: 1px solid #47AB53;
  border-radius: 0.5em;

  min-width: 10em;
  vertical-align: top;
}

.outputGroup-header {
  overflow: auto;

  padding: 0.5em;
  color: #fff;
  font-size: 150%;
  background-color: #47AB53;

  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.outputGroup-name {
  float: left;
}

.outputGroup-add-output {
  float: left;

  margin-right: 0.5em;
}

.outputGroup-delete {
  float: right;

  margin-left: 0.5em;

  visibility: hidden;
}
.outputGroup-header:hover .outputGroup-delete {
  visibility: visible;
}

.add-outputGroup, .outputGroup-add-output button {
  cursor: pointer;

  background-color: #fdfdfd;
  border: 1px solid #ccc;
}

.outputGroup-delete button {
  padding: 0;

  cursor: pointer;

  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.outputs {
  margin: 0.5em;
  padding-left: 0;

  list-style: none;
}

.output {
  display: inline-block;
  margin: 1em;
  padding: 1em;

  min-height: 4em;

  background-color: #fdfdfd;
  box-shadow: 0 0 0.3em .03em rgba(0,0,0,.3);
}
.output:hover {
  box-shadow: 0 0 0.3em .03em rgba(0,0,0,.7);

  transition: .6s;
}

.output .value {
  /* force to use inline-block so that it gets minimum height */
  display: inline-block;
}

.output .delete {
  float: right;

  padding: 0;

  background-color: #fdfdfd;
  border: none;

  cursor: pointer;

  visibility: hidden;
}
.output:hover .delete {
  visibility: visible;
}
