body {
  font-family: sans-serif;
}

.outputGroup {

  margin: 1em;

  background-color: #DDF5B2;
  border: 1px solid #47AB53;
  border-radius: 0.5em;

  min-width: 10em;
  vertical-align: top;
}

.outputGroup-header {
  overflow: auto;

  padding: 0.5em;
  color: #fff;
  font-size: 150%;
  background-color: #47AB53;

  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.outputGroup-name {
  float: left;
}

.outputGroup-add-output {
  float: left;

  margin-right: 0.5em;
}

.outputGroup-delete {
  float: right;

  margin-left: 0.5em;

  visibility: hidden;
}
.outputGroup-header:hover .outputGroup-delete {
  visibility: visible;
}

.add-outputGroup, .outputGroup-add-output button {
  cursor: pointer;

  background-color: #fdfdfd;
  border: 1px solid #ccc;
}

.outputGroup-delete button {
  padding: 0;

  cursor: pointer;

  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.outputs {
  margin: 0.5em;
  padding-left: 0;

  list-style: none;
}

.output {
  display: inline-block;
  margin: 1em;
  padding: 1em;

  min-height: 4em;

  background-color: #fdfdfd;
  box-shadow: 0 0 0.3em .03em rgba(0,0,0,.3);
}
.output:hover {
  box-shadow: 0 0 0.3em .03em rgba(0,0,0,.7);

  transition: .6s;
}

.output .value {
  /* force to use inline-block so that it gets minimum height */
  display: inline-block;
}

.output .delete {
  float: right;

  padding: 0;

  background-color: #fdfdfd;
  border: none;

  cursor: pointer;

  visibility: hidden;
}
.output:hover .delete {
  visibility: visible;
}


/************/
/* Dropdown */
/************/

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1.2);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
